<section class="titulo-phone">
<div class="container-fluid px-0">
  <div class="row m-0">
    <div class="col-md-4 px-0">
      <img [src]="imagenes?.transparencia_institucional_img_1.img" width="100%">
    </div>
    <div class="col-md-8 px-0">
      <div id="rectangulo-fondo"></div>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
  <div class="row m-0 mb-5">
    <div class="col-12 text-center">
      <h1 class="color-titulo mb-0" id="titulo-trans">{{etiquetas?.transparencia_institucional_titulo}}<span class="ml-1" id="titulo-insti">{{etiquetas?.transparencia_institucional_subtitulo}}</span></h1>
      <p id="texto-font-tran">{{etiquetas?.transparencia_institucional_descripcion}}</p>
    </div>
    <div class="col-12 mb-5">
        <div class="cajaselect">
          <span class="seleccionado">{{ categoria_seleccionado?.nombre }}</span>
          <ul class="listaselect">
            <li *ngFor="let item of categorias" (click)="traer_subcategorias (item)">
              {{ item.nombre }}
            </li>
          </ul>
          <span class="trianguloinf"></span>
        </div>
    </div>
    <!-- <div class="col-12 mb-5 mb-md-3" *ngFor="let item of items">
      <div class="row m-0">
        <div class="col-12 col-md-9 col-lg-10">
          <p class="color-letra-descarga-trans">{{ item.descripcion }}</p>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <button class="btn btn-descargar-fondo py-0" (click)="ver (item)">{{ etiquetas?.transparencia_institucional_btn_descarga }}</button>
        </div>
      </div>
    </div> -->
  </div>
  <section>
    <div class="container py-5" style="margin-top: 0px !important">
      <div class="row m-0">
        <div class="col-12" *ngFor="let item of items; let i=index">
          <div class="accordion-container">
            <button class="accordion-titulo py-2 px-4 text-capitalize open text-left">{{ item.nombre }}<span class="toggle-icon mt-n1"></span></button>
            <div [className]="i==0 ? 'accordion-content py-3 px-4 accordeon-desplegado' : 'accordion-content py-3 px-4'">
              <div class="row m-0" style="padding-top: 6px; padding-bottom: 6px;" *ngFor="let medio of item.medios">
                <div class="col-12 col-md-9 col-lg-10">
                  <p class="color-letra-descarga-trans">{{ medio.descripcion }}</p>
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                  <button class="btn btn-descargar-fondo py-0" (click)="ver (medio)">{{ etiquetas?.transparencia_institucional_btn_descarga }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</section>
