<ngx-spinner
  bdOpacity = 0.4
  bdColor = "#333"
  size = "medium"
  color = "#fff"
  type = "square-spin"
  [fullScreen] = "true">
  <p style="color: white" > Verificando... </p>
</ngx-spinner>

<ng-template #myDialogError>
  <h1 mat-dialog-title>¡Lo sentimos! Se produjo un error. Póngase en contacto con el administrador para obtener más información.</h1>
  <div style="margin-bottom: 1rem;" mat-dialog-content>
    {{ error_message }}
  </div>
  <div mat-dialog-actions>
    <button class="btn btn-leer-altura"mat-dialog-close>Ok</button>
  </div>
</ng-template>

<ng-template #myDialog>
  <h1 mat-dialog-title>¡Lo sentimos!</h1>
  <div *ngIf="correo_valido !== undefined" style="margin-bottom: 1rem;" mat-dialog-content>
    El correo <i><b>{{ form_02.value.correo }}</b></i> ya se encuentra en uso, pruebe con uno nuevo.
  </div>

  <div *ngIf="ruc_valido !== undefined" style="margin-bottom: 1rem;" mat-dialog-content>
    El N° de RUC <i><b>{{ form_02.value.ruc }}</b></i> ya se encuentra en uso, pruebe con uno nuevo.
  </div>
  <div mat-dialog-actions>
    <button class="btn btn-leer-altura"mat-dialog-close>Ok</button>
  </div>
</ng-template>

<div class="content">
  <div>
    <h2 class="text-center">DECLARACIÓN JURADA ALOJAMIENTO
      <span *ngIf="vista === 2 && form_01.value.registro_nuevo === '0'">- REGISTRO NUEVO</span>
      <span *ngIf="vista === 2 && form_01.value.registro_nuevo === '1'">- ACTUALIZACION DE DATOS</span>
    </h2>
    <br>
    <div [formGroup]="form_01" *ngIf="vista === 1">
      <div class="form-content">
        <mat-radio-group aria-label="Tipo de persona" formControlName="registro_nuevo" (change)="change_tipo_registro ($event.value)">
          <mat-radio-button value="0">Registro nuevo</mat-radio-button>
          &nbsp;
          <mat-radio-button value="1">Actualización de datos (cuento con constancia de Dircetur)</mat-radio-button>
        </mat-radio-group>
      </div>
      <br>

      <div class="form-content" *ngIf="form_01.value.registro_nuevo === '1'">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field (click)="fecha_exp.open()" class="example-full-width">
              <mat-label>Fecha de Expedicion <span style="color: red">*</span></mat-label>
              <input readonly="true" matInput formControlName="fecha_exp" [matDatepicker]="fecha_exp">
              <mat-datepicker-toggle matSuffix [for]="fecha_exp"></mat-datepicker-toggle>
              <mat-datepicker #fecha_exp disabled="false" ></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-label>Número de constancia de Dircetur <span style="color: red">*</span></mat-label>
              <input matInput type="number" formControlName="numero_constancia">
            </mat-form-field>
          </div>
        </div>
        <br>
      </div>

      <div style="text-align: end; margin-top: 1rem;">
        <button class="btn btn-leer-altura" [disabled]="!form_01.valid" (click)="cambiar_vista (+1)" style="cursor: pointer; color: #FFFFFF;">Siguiente</button>
      </div>
    </div>

    <div [formGroup]="form_02" *ngIf="vista === 2">
      <div><p class="header-title">INFORMACIÓN DEL ESTABLECIMIENTO</p></div>
      <div class="form-content">
        <mat-form-field class="example-full-width">
          <mat-label>Razón social <span style="color: red">*</span></mat-label>
          <input matInput type="text" formControlName="razon_social">
        </mat-form-field>

        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-label>Nombre Comercial <span style="color: red">*</span></mat-label>
              <input matInput type="text" formControlName="nombre_comercial">
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-label>N° de RUC (Del establecimiento) <span style="color: red">*</span></mat-label>
              <input matInput type="text" maxlength="11" minlength="11" formControlName="ruc">
            </mat-form-field>
          </div>
        </div>

        <mat-form-field class="example-full-width">
          <mat-label>Dirección completa <span style="color: red">*</span></mat-label>
          <input matInput type="text" formControlName="direccion">
        </mat-form-field>

        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Región <span style="color: red">*</span></mat-label>
              <input matInput type="text" value="Cusco" [disabled]="true">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Provincia <span style="color: red">*</span></mat-label>
              <mat-select formControlName="provincia" (selectionChange)="provinciaChanged ($event.value)">
                <mat-option *ngFor="let item of provincias" [value]="item">
                  {{ item.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Distrito <span style="color: red">*</span></mat-label>
              <mat-select formControlName="distrito">
                <mat-option *ngFor="let item of distritos" [value]="item">
                  {{ item.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Página Web</mat-label>
              <input matInput type="text" formControlName="pagina_web">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Correo electrónico <span style="color: red">*</span></mat-label>
              <input matInput type="text" formControlName="correo">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Confirmar correo electrónico <span style="color: red">*</span></mat-label>
              <input matInput type="text" formControlName="confir_correo">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Teléfono celular <span style="color: red">*</span></mat-label>
              <input matInput type="number" formControlName="telefono">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Clase <span style="color: red">*</span></mat-label>
              <mat-select formControlName="clase">
                <mat-option *ngFor="let item of clasificaciones" [value]="item">
                  {{ item.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Representante Legal <span style="color: red">*</span></mat-label>
              <input matInput type="text" formControlName="representante_nombre">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Doc. Identidad <span style="color: red">*</span></mat-label>
              <mat-select (selectionChange)="documentoChanged ($event.value)" formControlName="representante_tdoc">
                <mat-option value="DNI">DNI</mat-option>
                <mat-option value="CE">C.E</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>N.° Doc. Identidad <span style="color: red">*</span></mat-label>
              <input matInput type="text" formControlName="representante_ndoc">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <mat-form-field (click)="fecha_ins.open()" class="example-full-width">
              <mat-label>Fecha de Inicio de Operaciones <span style="color: red">*</span></mat-label>
              <input readonly="true" matInput formControlName="fecha_ins" [matDatepicker]="fecha_ins">
              <mat-datepicker-toggle matSuffix [for]="fecha_ins"></mat-datepicker-toggle>
              <mat-datepicker #fecha_ins disabled="false" ></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>N.° Licencia de Funcionamiento <span style="color: red">*</span></mat-label>
              <input matInput type="number" formControlName="numero_certificado">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field (click)="fecha_exp.open()" class="example-full-width">
              <mat-label>Fecha de Expedicion <span style="color: red">*</span></mat-label>
              <input readonly="true" matInput formControlName="fecha_exp" [matDatepicker]="fecha_exp">
              <mat-datepicker-toggle matSuffix [for]="fecha_exp"></mat-datepicker-toggle>
              <mat-datepicker #fecha_exp disabled="false" ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div style="text-align: end; margin-top: 1rem;">
        <button class="btn btn-leer-altura" (click)="cambiar_vista (-1)" style="cursor: pointer; color: #FFFFFF;">Atras</button>
        &nbsp;
        <button class="btn btn-leer-altura" (click)="validar_correo_ruc (myDialog)" [disabled]="form_02.invalid || esta_validando" style="cursor: pointer; color: #FFFFFF;">
          Siguiente
          &nbsp;
          <i class="fa fa-spinner fa-spin" *ngIf="esta_validando"></i>
        </button>
      </div>
    </div>

    <div [formGroup]="form_03" *ngIf="vista === 3">
      <div><p class="header-title">REQUISITOS MÍNIMOS</p></div>
      <div class="form-content" style="font-size: 14px;">
        <div><p style="margin-bottom: 0px; opacity: 0.7;">A. REQUISITOS MÍNIMOS DE INFRAESTRUCTURA</p></div>
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>N.° de Habitaciones (mínimo 6) <span style="color: red">*</span></mat-label>
              <input matInput type="number" min="6" formControlName="numero_habitaciones">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Ingreso diferenciado para huéspedes y personal de servicio <span style="color: red">*</span></mat-label>
              <input matInput type="number" formControlName="ingreso_diferenciado">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>N.° de Pisos <span style="color: red">*</span></mat-label>
              <input matInput type="number" formControlName="numero_pisos" (ngModelChange)="validar_numero_pisos ()">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Número de personal ocupado <span style="color: red">*</span></mat-label>
              <input matInput type="number" formControlName="numero_personal">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Número de camas <span style="color: red">*</span></mat-label>
              <input matInput type="number" formControlName="numero_camas">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Número de baños privados</mat-label>
              <input matInput type="number" formControlName="nro_banios_privados">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-label>Número de baños comunes</mat-label>
              <input matInput type="number" formControlName="nro_banios_comunes">
            </mat-form-field>
          </div>
        </div>

        <div><p style="margin-bottom: 0px; opacity: 0.7;">EL ESTABLECIMIENTO CUENTA CON:</p></div>
        <div class="row">
          <div class="col-sm-6">
            <label class="check-label">
              <input formControlName="req_min_inf_01" class="check-check" type="checkbox"/>
              Área de recepción y consejería.
            </label>

            <label class="check-label">
              <input formControlName="req_min_inf_02" class="check-check" type="checkbox"/>
              El área de habitaciones (incluye el área del closet guardarropa) tiene como mínimo 6 m.
            </label>

            <label class="check-label">
              <input formControlName="req_min_inf_03" class="check-check" type="checkbox"/>
              El área de total de los SS.HH. privados o comunes tiene como mínimo 2 m.
            </label>

            <label class="check-label">
              <input formControlName="req_min_inf_04" class="check-check" type="checkbox"/>
              Los servicios higiénicos: Cuentan con pisos y paredes de material impermeable, el revestimiento de la pared tiene una altura mínima de 1.80 m.
            </label>

            <label class="check-label">
              <input formControlName="req_min_inf_05" class="check-check" type="checkbox"/>
              Contar con un ascensor a partir de (4) o más pisos.
            </label>

            <label class="check-label">
              <input formControlName="req_min_inf_07" class="check-check" type="checkbox"/>
              La edificación guarda armonía con el entorno en el que se ubica.
            </label>
          </div>
          <div class="col-sm-6">
            <label class="check-label">
              <input formControlName="req_min_inf_08" class="check-check" type="checkbox"/>
              Accesibilidad para personas con discapacidad y de las personas adultas mayores, según norma A.120.
            </label>

            <label class="check-label">
              <input formControlName="req_min_inf_09" class="check-check" type="checkbox"/>
              Para el diseño de acceso y salidas de emergencia pasajes de circulación de personas, escaleras, sistema contra incendios, etc., sé ha tomado en cuenta la norma A.130, requisitos de seguridad.
            </label>

            <label class="check-label">
              <input formControlName="req_min_inf_10" class="check-check" type="checkbox"/>
              Tabiquería: Los muros y divisiones interiores, especialmente entre dormitorios cumplen con los requisitos de seguridad del reglamento de edificaciones siendo combustibles, higiénicos y de fácil limpieza, brindando condiciones de privacidad y aislamiento acústico.
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div><p style="margin-bottom: 0px; opacity: 0.7;">B. REQUISITOS MÍNIMOS DE EQUIPAMIENTO</p></div>
            <label class="check-label">
              <input formControlName="req_min_eqp_01" class="check-check" type="checkbox"/>
              Teléfono de uso público (puede ser teléfono fijo de recepción, celular, dependiendo de la zona y para uso exclusivo del huésped).
            </label>

            <label class="check-label">
              <input formControlName="req_min_eqp_02" class="check-check" type="checkbox"/>
              Botiquín de primeros auxilios según especificaciones técnicas del ministerio de salud.
            </label>

            <label class="check-label">
              <input formControlName="req_min_eqp_03" class="check-check" type="checkbox"/>
              Cuento con sistema que permita tener agua fría y caliente y las 24 horas del día el cual no es activado por el huésped.
            </label>
          </div>
          <div class="col-sm-6">
            <div><p style="margin-bottom: 0px; opacity: 0.7;">C. REQUISITOS MÍNIMOS DE SERVICIO</p></div>
            <label class="check-label">
              <input formControlName="req_min_srv_01" class="check-check" type="checkbox"/>
              Se realiza limpieza diaria de habitaciones y todos los ambientes del establecimiento.
            </label>

            <label class="check-label">
              <input formControlName="req_min_srv_02" class="check-check" type="checkbox"/>
              Brindo servicio de custodia de equipaje.
            </label>

            <label class="check-label">
              <input formControlName="req_min_srv_03" class="check-check" type="checkbox"/>
              El cambio de sábanas y toallas debe ser regular, (el huésped puede solicitar que no se cambie regularmente de acuerdo a criterios ambientales y otros).
            </label>
          </div>
        </div>
      </div>

      <div style="text-align: end; margin-top: 1rem;">
        <button class="btn btn-leer-altura" (click)="cambiar_vista (-1)" style="cursor: pointer; color: #FFFFFF;">Atras</button>
        &nbsp;
        <button class="btn btn-leer-altura" (click)="cambiar_vista (+1)" [disabled]="!form_03.valid" style="cursor: pointer; color: #FFFFFF;">Siguiente</button>
      </div>
    </div>

    <div *ngIf="vista === 4">
      <div><p class="header-title">PERSONAL DE TRABAJO</p></div>
      <div class="form-content">
        <div class="row">
          <div class="col-sm-12" *ngFor="let personal of personal.controls; index as i">
            <ng-container [formGroup]="personal">
              <mat-form-field (click)="anio_nacimiento.open()" class="example-full-width">
                <mat-label>Año de nacimiento <span style="color: red">*</span></mat-label>
                <input readonly="true" matInput formControlName="anio_nacimiento" [matDatepicker]="anio_nacimiento">
                <mat-datepicker-toggle matSuffix [for]="anio_nacimiento"></mat-datepicker-toggle>
                <mat-datepicker #anio_nacimiento disabled="false" ></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Genero <span style="color: red">*</span></mat-label>
                <mat-select formControlName="genero">
                  <mat-option value="varon">Varon</mat-option>
                  <mat-option value="mujer">Mujer</mat-option>
                  <mat-option value="np">No precisa</mat-option>
                </mat-select>
              </mat-form-field>

              <button class="btn_iguales_finales" *ngIf="i !== 0" (click)="eliminar_personal (i)">Eliminar</button>
            </ng-container>
            <hr>
          </div>
        </div>
        <button class="btn_iguales_finales" (click)="agregar ()">Agregar personal</button>
      </div>

      <div style="text-align: end; margin-top: 1rem;">
        <button class="btn btn-leer-altura" (click)="cambiar_vista (-1)" style="cursor: pointer; color: #FFFFFF;">Atras</button>
        &nbsp;
        <button class="btn btn-leer-altura" [disabled]="validar_form ()" (click)="cambiar_vista (+1)" style="cursor: pointer; color: #FFFFFF;">Siguiente</button>
      </div>
    </div>

    <div [formGroup]="form_05" *ngIf="vista === 5">
      <div class="mt-3"><p class="header-title">DECLARACIONES </p></div>
      <div class="form-content">
        <div class="row">
          <div class="col-12">
            <label class="check-label">
              <input formControlName="declaraciones_jurada" class="check-check" type="checkbox"/>
              LA PRESENTE DECLARACIÓN JURADA LA REALIZO SEGÚN LO SEÑALADO EN EL NUMERAL 9.2 DEL ARTICULO 9 DEL REGLAMENTO DE AGENCIAS DE VIAJES Y TURISMO, APROBADO MEDIANTE D.S.001-2015- MINCETUR, MANIFESTANDO QUE LOS DATOS SEÑALADO EXPRESAN LA VERDAD Y QUE CONOZCO LAS SANCIONES ADMINISTRATIVAS Y PENALES A QUE HABRÁ LUGAR EN CASO DE FALSEDAD.<br><br>
              *TODOS LOS DATOS CONSIGNADOS, ESTÁN SUJETOS A VERIFICACIÓN Y FISCALIZACIÓN POSTERIOR.
            </label>
          </div>
        </div>
      </div>

      <div style="text-align: end; margin-top: 1rem;">
        <button class="btn btn-leer-altura" (click)="cambiar_vista (-1)" style="cursor: pointer; color: #FFFFFF;">Atras</button>
        &nbsp;
        <button class="btn btn-leer-altura" [disabled]="!form_05.valid" (click)="submit (myDialogError)" style="cursor: pointer; color: #FFFFFF;">Enviar</button>
      </div>
    </div>

    <div style="text-align: center; margin-top: 40px;">
      <span [className]="vista > 1 ? 'step finish' : vista === 1 ? 'step active' : 'step'"></span>
      <span [className]="vista > 2 ? 'step finish' : vista === 2 ? 'step active' : 'step'"></span>
      <span [className]="vista > 3 ? 'step finish' : vista === 3 ? 'step active' : 'step'"></span>
      <span [className]="vista > 4 ? 'step finish' : vista === 4 ? 'step active' : 'step'"></span>
      <span [className]="vista > 5 ? 'step finish' : vista === 5 ? 'step active' : 'step'"></span>
    </div>
  </div>
</div>
