<div class="row m-0">
  <div class="col-12 px-0 d-none d-md-block d-lg-none">
    <div style="position: relative; width: 100%; color: white; background-color: #3E729A; padding: 4% 6%;">
      <h3><b>Registrate</b> Aqui</h3>
      <h3 style="position: absolute; top: 25%; right: 5%;" [mat-dialog-close]="true">X</h3>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 text-center px-0 d-none d-md-block">
    <img style="width: 100% !important" src="assets/imagenes/Mapi-form.jpg">
  </div>
  <div class="col-md-8 col-sm-12 px-0">
    <div style="position: relative; width: 100%; color: white; background-color: #3E729A; padding: 4% 6%;" class="d-block d-md-none d-lg-block">
      <h3><b>Registrate</b> Aqui</h3>
      <h3 style="position: absolute; top: 25%; right: 5%;" [mat-dialog-close]="true">X</h3>
    </div>

    <div style="padding: 4% 6% 0% 6%;">
      <p class="pr-lg-5">PARA LA ACTUALIZACIÓN E INSCRIPCIÓN DE ESTABLECIMIENTOS DE HOSPEDAJE Y AGENCIAS DE VIAJES EN EL DIRECTORIO DE PRESTADORES DE SERVICIOS TURÍSTICOS.</p>
      <p class="div-botones"><b>Seleccione que tipo de prestador de servicios turisticos es:</b></p>
    </div>

    <div class="row m-0 css">
      <div class="col-sm-4 col-md-6 col-lg-4 text-left d-block d-md-none d-lg-block" style="margin-bottom: 10px;">
        <button class="btn btn-leer-altura text-wrap" mat-button [mat-dialog-close]="true" (click)="page ('registro-agencia')">
          AGENCIA DE VIAJES Y TURISMO FÍSICA
          <small>(CON LICENCIA DE FUNCIONAMIENTO)</small>
        </button>
      </div>

      <div class="col-sm-4 col-md-6 col-lg-4 text-left d-block d-md-none d-lg-block" style="margin-bottom: 10px;">
        <button class="btn btn-leer-altura text-wrap" [mat-dialog-close]="true" (click)="page ('registro-agencia-digital')">
          AGENCIA DE VIAJES Y TURISMO VIRTUAL
        </button>
      </div>

      <div class="col-sm-4 col-md-6 col-lg-4 text-left d-block d-md-none d-lg-block" style="margin-bottom: 10px;">
        <button class="btn btn-leer-altura text-wrap" mat-button [mat-dialog-close]="true" (click)="page ('registro-alojamiento')">
          ESTABLECIMIENTO DE HOSPEDAJE
        </button>
      </div>
    </div>

    <div style="padding: 0% 6% 6% 6%;">
      <small>* Tramite no valido para categorización de establecimientos de hospedaje, ni modalidades de turismo de aventura y canotaje</small>
    </div>
  </div>

  <div class="col-12 d-none d-md-block d-lg-none py-4">
    <div class="row m-0">
      <div class="col-4">
        <button class="btn btn-leer-altura text-wrap" mat-button [mat-dialog-close]="true" (click)="page ('registro-agencia')">
          AGENCIA DE VIAJES Y TURISMO FÍSICA
        </button>
      </div>
      <div class="col-4 div-botones">
        <button class="btn btn-leer-altura text-wrap" [mat-dialog-close]="true" (click)="page ('registro-agencia-digital')">
          AGENCIA DE VIAJES Y TURISMO VIRTUAL
        </button>
      </div>
      <div class="col-4 div-botones">
        <button class="btn btn-leer-altura text-wrap" mat-button [mat-dialog-close]="true" (click)="page ('registro-alojamiento')">
          ESTABLECIMIENTO DE HOSPEDAJE
        </button>
      </div>
    </div>
  </div>
</div>





