.btn-leer-altura {
  font: Heavy 18px/33px Avenir;
  color: #fff;
  text-align: center;
  background-color:  #3E729A ;
  border: 1px solid #707070;
  border-radius: 15px;
  opacity: 1;
  font-size: 13px;
  width: 100%;
}

@media (min-width: 768px)
{
  h3
  {
    margin-left: 190px;
  }
}
@media (min-width: 1024px)
{
  h3
  {
    margin-left: 0px;
  }

  .div-botones {
    margin-top: 7%;
  }

  .css {
    padding-left: 24px;
  }
}
