<section class="secc_bajar_finalizar">
    <div class="container-fluid px-0">
        <div class="row m-0" style="background-color: #3E729A;">
            <div class="col-sm-4 col-md-5 col-lg-5 col-xl-4 px-0">
                <div class="div_finalizar">
                    <img src="assets/imagenes/ruta-img8.png" class="img_registro_finalizar">
                </div>
            </div>
            <div class="col-sm-8 col-md-7 col-xl-8 text-center text-sm-left">
                <h1 class="mt-md-3 mt-lg-5 mt-xl-5 pt-sm-5 pl-lg-3" id="titulo-turismo-detalle">Registro<span id="subtitulo-font"> Exitoso</span> </h1>
            </div>
        </div>
    </div>
</section>
<section class="mt-5">
    <div class="container">
        <div class="row m-0 justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <p class="mb-5">Hemos recibido exitosamente su Declaración Jurada (la cual se descargara automáticamente desde su navegador), como muestra de ello acabamos de enviarle un correo a <i><b>{{ correo_usuario }}</b></i> con los pasos que debe seguir para completar su registro y/o actualización.
                  <br><br>
                  <a href="https://firebasestorage.googleapis.com/v0/b/dirceturcuscoapp.appspot.com/o/extras%2FRM_430_2018_MINCETUR_ANEXO-II_ESNNA.pdf?alt=media&token=29a9e4ad-0cb2-49b1-b715-3f00db98c1f3">Formato ESNNA-MINCETUR</a>
                  <br>
                  <a href="https://firebasestorage.googleapis.com/v0/b/dirceturcuscoapp.appspot.com/o/extras%2FSOLICITUD%20DE%20TRAMITE%20DE%20PRESTADORES%20DE%20SERVICIOS%20TURISTICOS%20(1).pdf?alt=media&token=2f6c1338-908f-481e-89e5-e1e79a5bc4d1">SOLICITUD DE TRAMITE DE PRESTADORES DE SERVICIOS TURISTICOS</a>
                  <br><br>
                  * El correo puede tardar en llegar dependiendo de la demanda (según hora del día) y su conexión a internet
                  <br><br>
                  * Por favor revise también su bandeja de correo no deseado / otros.
                  <br><br>
                  DIRCETUR, Cusco.</p>
                <a href="/" class="btn link_inicio mb-5">Inicio</a>
            </div>
        </div>
    </div>
</section>
