<section class="secc_bajar_finalizar">
    <div class="container-fluid px-0">
        <div class="row m-0" style="background-color: #3E729A;">
            <div class="col-sm-4 col-md-5 col-lg-5 col-xl-4 px-0">
                <div class="div_finalizar">
                    <img src="assets/imagenes/ruta-img8.png" class="img_registro_finalizar">
                </div>
            </div>
            <div class="col-sm-8 col-md-7 col-xl-8 text-center text-sm-left">
                <h1 class="mt-md-3 mt-lg-5 mt-xl-5 pt-sm-5 pl-lg-3" id="titulo-turismo-detalle">Registro<span id="subtitulo-font"> Exitoso</span> </h1>
            </div>
        </div>
    </div>
</section>
<section class="mt-5">
    <div class="container">
        <div class="row m-0 justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <p class="mb-5">Hemos recibido exitosamente su Declaración Jurada (la cual se descargara automáticamente desde su navegador), como muestra de ello acabamos de enviarle un correo a <i><b>{{ correo_usuario }}</b></i> con los pasos que debe seguir para completar su registro y/o actualización.
                  <br><br>
                  *El correo puede tardar en llegar dependiendo de la demanda (según hora del día) y su conexión a internet
                  <br><br>
                  *Por favor revise también su bandeja de correo no deseado / otros.
                  <br><br>
                  DIRCETUR, Cusco.</p>
                <a href="/" class="btn link_inicio mb-5">Inicio</a>
            </div>
        </div>
    </div>
</section>
